.slider-image {
  height: 100vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 20px;
    color: white;
    font-weight: 500;
    letter-spacing: 10px;
  }
}

@media(max-width: 400px) {
  .service-card {
    flex-direction: column;
    .image-container {
      margin-bottom: 10px;
    }
  }
  .tiret {
    display: none;
  }
}
