.slider-image {
  height: calc(100vh);
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-end;
  background-position: bottom !important;
  // background: linear-gradient(270deg, rgba(0, 0, 0, 0.308) 100%, rgba(255, 255, 255, 0) 108.12%);
  h1 {
    color: white;
    margin: 70px 30px;
    font-weight: 600;
  }
}

.surbanner {
  position: absolute !important;
  z-index: 1;
  height: 120px;
  display: flex;
  align-items: center;
  &::before {
    opacity: 0.9;
  }
  h1 {
    margin-left: 20%;
    margin-bottom: 0;
    text-align: left;
    font-size: 26px;
    color: $brand-brown;
    line-height: 45px;
    font-weight: 600;
  }
}

