.btn-geoness-container {
  width: 100%;
  text-align:center;
}

.btn-geoness {
  background-color: $brand-color;
  color: white;
  &:hover {
    opacity: 0.9;
  }
}

.btn-cv {
  position: absolute;
  right: 40px;
  top: -16px;

  width: 110px;
  a {
    margin:0;
    width: 110px;
  }
}
