.btn-laroute {
  background-color: $button-blue;
  border: solid 2px $brand-yellow;
  border-radius: 5px;
  height: 50px;
  padding: 0px 15px;
  color: white !important;
  &:hover {
    opacity: 0.9;
    color: $brand-blue;
  }
}

.btn-laroute.disabled {
  background-color: grey;
  border-color: white;
  opacity: 0.9;
  &:hover {
    opacity: 0.9;
    color: white;
  }
}

