.footer {
  border-top: 4px solid $brand-color;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  .footer-logo {
    margin-left: 15%;
  }
  .footer-content {
    display: flex;
    height: 100px;
    .footer-content-left {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 30px;
    }
    .footer-content-right {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 30px;
    }
  }
  .footer-icon {
    margin-right: 15px;
  }
}
