.footer {
  background: linear-gradient(90deg, #003395 -14.86%, rgba(0, 51, 149, 0.41) 100%), #FFFFFF;
  height: 150px;
  display: flex;
  justify-content: center;
  p {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .margin-footer-right {
    margin-right: 60px;
  }
}

.link-footer {
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    &:hover {
      color: $brand-yellow;
      text-decoration: none;
    }
  }
}
