.need {
  // min-height: 80vh;
  display: flex;
  flex-direction: column;
  .subtitle-need {
    color: $brand-darkgreen;
    font-weight: 600;
  }
  h3 {
    color: $brand-darkgreen;
    font-weight: 600;
    text-align: left;
    margin: 40px 0;
  }
  li {
    margin: 10px 0;
  }
  .image-need {
    margin-top: 50px;
    max-width: 300px;
    .gatsby-image-wrapper {
      position: static !important;
    }
  }
  .clients-assets {
    h3 {
      color: $brand-darkgreen;
      font-weight: 600;
      text-align: left;
      margin: 30px 0px;
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }
  .fontawesome-icons {
    margin-left: 20px;
    font-size: 32px;
    opacity: 0.6;
  }
}

@media(max-width: 767px) {
  .image-need {
    margin: auto;
  }
}
