.text-transparent {
  color: transparent;
}

.laroute-container-xl {
  width: 1300px;
}

.mb-laroute {
  margin-bottom: 60px;
}

.mt-laroute {
  margin-top: 60px;
}

.image-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
