.who {
  background-color: rgba(220,217,197, 0.3);
  // min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h2 {
    font-style: italic;
    font-weight: 600;
    color: $brand-color;
    margin: 40px 0;
  }
  h3 {
    color: $brand-brown;
    font-weight: 600;
    line-height: 40px;
    margin: 40px 0;
  }
  .who-values {
    color: $brand-color;
  }
  .map-container {
    position: absolute;
    width: 100px;
    top: 100px;
    right: 200px;
  }
}

