$brand-color: #BC8B00;
$brand-brown: #381E00;
$brand-darkgreen: #4D524A;
$brand-green: #A0AB9A;

$light-grey: #f9f9f9;
$dark-grey: #5E6476;
$white: white;
$black: black;
$green: green;
$red: red;
$blue: blue;
$yellow: #FDB631;
$orange: #E67E22;
