// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,,600,700|Raleway:400,100,300,700,500");

html, main, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans';
}

// H1s
h1 { font-size: 36px; text-align: center;}

// H2s
h2 { font-size: 32px; text-align: center;}

// H3s
h3 { font-size: 22px; text-align: center;}
